build==1.2.2.post1
coverage==7.6.1
hypothesis==6.113.0; python_version < "3.10"
hypothesis==6.148.2; python_version >= "3.10"
mypy==1.14.1
mutmut==3.2.3
pytest==8.3.5
ruff==0.14.6
twine==6.1.0
types-PyYAML==6.0.12.20241230; python_version < "3.10"
types-PyYAML==6.0.12.20260815; python_version >= "3.10"
